/*--------------------------------------------------------------*/
/*--------------------------------------------------------------# 
Pages
--------------------------------------------------------------*/
/* mobiles styles for HOME */
/* small tablet styles for HOME */
/* Large tablets & laptop styles for HOME */
/* desktop styles for HOME */
/* mobiles styles for Single Page*/
/* small tablet styles for Single Page */
/* Large tablets & laptop styles for Single Page */
/* desktop styles for Single Page */
.menu-item > a {
  font-size: 1rem !important;
}

html {
  letter-spacing: 1px;
  font-size: 100%;
}

h*, a {
  font-size: 3rem;
}

html {
  font-size: 100%;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 100%;
  }
}

h1 {
  font-size: 3rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
}

.site-branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 5%;
}

.main-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-navigation li {
  margin-left: 20px;
}

.hamburger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.line {
  background-color: #DD1312;
  height: 4px;
  width: 45px;
  margin: 2px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.line:nth-child(2) {
  background-color: #DD1312;
  height: 4px;
  width: 40px;
  margin-left: auto;
}

/* mobiles styles for Header*/
/* small tablet styles for Header*/
@media screen and (max-width: 1000px) {
  header {
    height: 100vh;
  }
  .main-navigation {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 5%;
  }
  .main-navigation .navlinks {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50vw;
    height: 100%;
    background-color: #DD1312;
    top: 0;
    right: 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-clip-path: circle(0px at 100% 0%);
            clip-path: circle(0px at 100% 0%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    z-index: 20;
  }
  .main-navigation .navlinks .menu-item {
    opacity: 0;
  }
  .main-navigation .navlinks .menu-item a {
    color: white;
  }
  .main-navigation .navlinks.active {
    -webkit-clip-path: circle(1200px at 100% 0%);
            clip-path: circle(1200px at 100% 0%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }
  .main-navigation .navlinks .menu-item:nth-child(1) {
    margin-top: 10px;
    -webkit-transition-delay: .2s;
            transition-delay: .2s;
  }
  .main-navigation .navlinks .menu-item:nth-child(2) {
    -webkit-transition-delay: .4s;
            transition-delay: .4s;
  }
  .main-navigation .navlinks .menu-item:nth-child(3) {
    -webkit-transition-delay: .6s;
            transition-delay: .6s;
  }
  .main-navigation .navlinks .menu-item:nth-child(4) {
    -webkit-transition-delay: .8s;
            transition-delay: .8s;
  }
  .main-navigation .navlinks .menu-item:nth-child(5) {
    -webkit-transition-delay: 1s;
            transition-delay: 1s;
  }
  .main-navigation .navlinks .menu-item:nth-child(6) {
    -webkit-transition-delay: 1.2s;
            transition-delay: 1.2s;
  }
  .main-navigation .menu-item.fade {
    opacity: 1;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }
  .main-navigation li {
    margin-left: 20px;
  }
  .hamburger {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 25;
    padding-right: 15px;
  }
  .line {
    width: 40px;
  }
  .toggle {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .toggle:nth-child(1) {
    width: 30px;
    position: absolute;
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    background-color: white;
  }
  .toggle:nth-child(2) {
    display: none;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    background-color: white;
  }
  .toggle:nth-child(3) {
    width: 30px;
    -webkit-transform: rotate(40deg) translateY(0%);
            transform: rotate(40deg) translateY(0%);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    background-color: white;
  }
  nav {
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/* Large tablets & laptop styles for Header*/
@media screen and (min-width: 960px) {
  .site-branding {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: 1px solid silver;
    background: #FFF !important;
    height: 90px;
  }
  .site-branding a.custom-logo-link {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 5%;
  }
  .main-navigation {
    width: 100%;
    margin-left: auto;
  }
  .menu-primary-container .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 2rem;
  }
  .menu-primary-container .nav-menu li a {
    text-transform: uppercase;
    font-weight: 200;
  }
  .menu-primary-container .nav-menu .menu-item-33 {
    border: 1px solid silver;
    background: #DD1312;
    margin-top: -10px;
  }
  .menu-primary-container .nav-menu .menu-item-33 a {
    padding: 0.6rem;
    color: #FFF !important;
    opacity: 0.7;
  }
  .site-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 4rem;
    color: #FFF;
    width: auto;
    text-align: center;
    margin-top: 10%;
  }
  .site-description .primary {
    width: 10%;
  }
  .site-description .second {
    width: 10%;
  }
  .site-description .center {
    width: 80%;
  }
  footer {
    position: absolute;
    bottom: 0;
    display: none;
  }
}

/* desktop styles for Header*/
@media screen and (min-width: 1200px) {
  .site-branding {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid silver;
    background: #FFF !important;
    height: 90px;
  }
  .site-branding a.custom-logo-link {
    margin-top: auto;
    margin-bottom: auto;
  }
  .main-navigation {
    width: 100%;
    margin-left: auto;
  }
  .menu-primary-container .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 80%;
    padding-top: 2rem;
    margin-left: auto;
  }
  .menu-primary-container .nav-menu li a {
    text-transform: uppercase;
    font-weight: 200;
  }
  .site-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 5.9rem;
    color: #FFF;
    width: auto;
    text-align: center;
    margin-top: 10%;
  }
  .site-description .primary {
    width: 10%;
  }
  .site-description .second {
    width: 10%;
  }
  .site-description .center {
    width: 80%;
  }
  footer {
    position: absolute;
    bottom: 0;
    display: none;
  }
}

.typing {
  position: relative;
  margin-left: 10px;
}

.typing::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 28%;
  border-right: 2px solid white;
  -webkit-animation: 3s linear 1s blink;
          animation: 3s linear 1s blink;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  margin-top: 30px;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.site-branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid silver;
  background: #FFF !important;
  height: 90px;
}

.site-branding a.custom-logo-link {
  margin-top: auto;
  margin-bottom: auto;
}

.main-navigation {
  width: 100%;
  margin-left: auto;
}

.menu-primary-container .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  padding-top: 2rem;
  margin-left: auto;
}

.menu-primary-container .nav-menu li a {
  text-transform: uppercase;
  font-weight: 200;
}

body.custom-background {
  background-position: center top !important;
}

.site-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  color: #FFF;
  width: auto;
  text-align: center;
  margin-top: 10%;
}

.site-description .primary {
  width: 10%;
}

.site-description .second {
  width: 10%;
}

.site-description .center {
  width: 80%;
}

footer {
  position: absolute;
  bottom: 0;
  display: none;
}

:root {
  --primary: #FFC635;
  --secondary: #0A0B5B;
}

/* mobiles styles for Single Page*/
/* small tablet styles for Single Page */
@media screen and (min-width: 620px) {
  .whoarewe__general {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 5%;
    padding-top: 2.5rem;
  }
  .whoarewe__space {
    width: 38%;
  }
  .widget_nav_menu .widget-title {
    text-align: center;
  }
  .whoarewe__general--sidebar {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #menu-whoarewe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: auto;
        align-self: auto;
    text-align: left;
    width: 200px;
    margin-left: -24px;
  }
  #menu-whoarewe li {
    margin-top: 28px;
    list-style: none !important;
  }
  #menu-whoarewe li a {
    text-decoration: none;
    font-size: 1.6rem;
  }
  .content {
    font-size: 1.5rem;
    margin-top: 18px;
  }
  .current_page_item a {
    color: #DD1312 !important;
  }
}

/* Large tablets & laptop styles for Single Page */
@media screen and (min-width: 960px) {
  .whoarewe__general {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 5%;
    padding-top: 2.5rem;
  }
  .whoarewe__space {
    width: 38%;
  }
  .widget_nav_menu .widget-title {
    text-align: center;
  }
  .whoarewe__general--sidebar {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #menu-whoarewe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: auto;
        align-self: auto;
    text-align: left;
    width: 200px;
    margin-left: -24px;
  }
  #menu-whoarewe li {
    margin-top: 47px;
    list-style: none;
  }
  #menu-whoarewe li a {
    text-decoration: none;
    font-size: 1.6rem;
  }
  .content {
    font-size: 1.5rem;
  }
  .content p {
    margin-top: 28px;
  }
  .current_page_item a {
    color: #DD1312 !important;
  }
}

/* desktop styles for Single Page */
@media screen and (min-width: 1200px) {
  .whoarewe__general {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 5%;
    padding-top: 2.5rem;
  }
  .whoarewe__space {
    width: 38%;
  }
  .widget_nav_menu .widget-title {
    text-align: center;
  }
  .whoarewe__general--sidebar {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #menu-whoarewe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: auto;
        align-self: auto;
    text-align: left;
    width: 200px;
    margin-left: -24px;
  }
  #menu-whoarewe li {
    margin-top: 28px;
    list-style: none !important;
  }
  #menu-whoarewe li a {
    text-decoration: none;
    font-size: 1.6rem;
  }
  .content {
    font-size: 1.5rem;
    margin-top: 18px;
  }
  .current_page_item a {
    color: #DD1312 !important;
  }
}

/* mobiles styles for Single Page*/
/* small tablet styles for Single Page */
/* Large tablets & laptop styles for Single Page */
@media screen and (min-width: 960px) {
  .whatwedo__general {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 5%;
    padding-top: 2.5rem;
  }
  .whatwedo__space {
    width: 20%;
  }
  .whatwedo__general--sidebar {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .widget_nav_menu .widget-title {
    text-align: center;
  }
  #menu-whatwedo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: auto;
        align-self: auto;
    text-align: left;
    width: 200px;
    margin-left: -24px;
  }
  #menu-whatwedo li {
    margin-top: 28px;
  }
  .content p {
    margin-top: 28px;
  }
  .current_page_item a {
    color: #DD1312 !important;
  }
}

/* desktop styles for Single Page */
@media screen and (min-width: 1200px) {
  .whatwedo__general {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 5%;
    padding-top: 2.5rem;
  }
  .whatwedo__space {
    width: 38%;
  }
  .widget_nav_menu .widget-title {
    text-align: center;
  }
  .whatwedo__general--sidebar {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #menu-whatwedo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: auto;
        align-self: auto;
    text-align: left;
    width: 200px;
    margin-left: -24px;
  }
  #menu-whatwedo li {
    margin-top: 28px;
    list-style: none;
  }
  #menu-whatwedo li a {
    text-decoration: none;
    font-size: 1.6rem;
  }
  .content {
    font-size: 1.5rem;
  }
  .content p {
    margin-top: 28px;
  }
  .current_page_item a {
    color: #DD1312 !important;
  }
}

/* mobiles styles for Single Page*/
/* small tablet styles for Single Page */
/* Large tablets & laptop styles for Single Page */
@media screen and (min-width: 960px) {
  .getintouch__general {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 5%;
    padding-top: 2.5rem;
  }
  .getintouch__space {
    width: 38%;
  }
  .widget_nav_menu .widget-title {
    text-align: center;
  }
  .getintouch__general--sidebar {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #menu-getintouch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: auto;
        align-self: auto;
    text-align: left;
    width: 200px;
    margin-left: -24px;
  }
  #menu-getintouch li {
    margin-top: 28px;
    list-style: none;
  }
  #menu-getintouch li a {
    text-decoration: none !important;
  }
  .content {
    font-size: 1.5rem;
  }
  .content p {
    margin-top: 28px;
  }
  .current_page_item a {
    color: #DD1312 !important;
  }
}

/* desktop styles for Single Page */
@media screen and (min-width: 1200px) {
  .getintouch__general {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 5%;
    padding-top: 2.5rem;
  }
  .getintouch__space {
    width: 38%;
  }
  .widget_nav_menu .widget-title {
    text-align: center;
  }
  .getintouch__general--sidebar {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #menu-getintouch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: auto;
        align-self: auto;
    text-align: left;
    width: 200px;
    margin-left: -24px;
  }
  #menu-getintouch li {
    margin-top: 28px;
    list-style: none;
  }
  #menu-getintouch li a {
    text-decoration: none;
  }
  .content {
    font-size: 1.5rem;
  }
  .content p {
    margin-top: 28px;
  }
  .current_page_item a {
    color: #DD1312 !important;
  }
}

* {
  margin: 0;
  padding: 0;
}

body, html, .page {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  letter-spacing: 1.5px;
  line-height: 1.5em;
}

.highlight {
  color: #5182BD !important;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}
/*# sourceMappingURL=style.css.map */