
/*--------------------------------------------------------------*/

/*--------------------------------------------------------------# 
Pages
--------------------------------------------------------------*/
@import "pages/frontpage";
@import "pages/single";
@import "pages/header";
@import "pages/variables";
@import "pages/news";
@import "pages/whoarewe";
@import "pages/whatwedo";
@import "pages/getintouch";



* {
	margin: 0;
	padding: 0;
}

body, html,  .page {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
	overflow-x: hidden;
	scroll-behavior: smooth;
	letter-spacing: 1.5px;
	line-height: 1.5em;

}

body {

}
.highlight {
	color: #5182BD !important;
}


li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

a:visited {
	color: black;
}

