
/* mobiles styles for Header*/

/* small tablet styles for Header*/
@media screen and (min-width: 620px){
    
}
/* Large tablets & laptop styles for Header*/
@media screen and (min-width: 960px){
    .site-branding{
        display: flex;
        justify-content: space-between;
        border: 1px solid silver;
        background: #FFF !important;
        height: 90px;

        a.custom-logo-link{
            margin-top: auto;
            margin-bottom: auto;
            padding-left: 5%;
        }
    }
    .main-navigation{
        width: 70%;
        margin-left: auto;
    }
    .nav-left{
        width: 5%;
    }
    .menu .nav-menu{
        display: flex;
        justify-content: space-between;
        padding-top: 1.9rem;

        li a{
            text-transform: uppercase;
        }
    }
    .site-description{
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 4rem;
        color: #FFF;
        width: auto;
        text-align: center;
        margin-top: 16%;

        .primary{
            width: 15%;
        }
        .second{
            width: 15%;
        }
        .center{
            width: 70%;
        }
    }
    footer{
        position: absolute;
        bottom: 0;
        display: none;
    }
}

/* desktop styles for Header*/
@media screen and (min-width: 1200px){
    .site-branding{
        display: flex;
        justify-content: space-between;
        border: 1px solid silver;
        background: #FFF !important;
        height: 90px;

        a.custom-logo-link{
            margin-top: auto;
            margin-bottom: auto;
        }
    }
    .main-navigation{
        width: 45%;
    }
    .nav-left{
        width: 5%;
    }
    .menu .nav-menu{
        display: flex;
        justify-content: space-between;
        padding-top: 1.9rem;
        margin-left: auto;

        li a{
            text-transform: uppercase;
        }
    }

    .site-description{
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 5.9rem;
        color: #FFF;
        width: auto;
        text-align: center;
        margin-top: 18%;

        .primary{
            width: 15%;
        }
        .second{
            width: 15%;
        }
        .center{
            width: 70%;
        }
    }

    footer{
        position: absolute;
        bottom: 0;
        display: none;
    }
}