
// Desktop screens

.page__general{
    display: flex;
    flex-direction: row;
    padding-left: 6%;
    padding-top: 2.5rem;
}
.page__space{
    width: 38%;
}
.widget_nav_menu .widget-title{
    text-align: center;
}
.page__general--sidebar{
    align-self: flex-start !important;
}

#menu-whoarewe, #menu-whatwedo, #menu-getintouch{
    display: flex;
    flex-direction: column;
    align-self: auto;
    text-align: left;
    width: 200px;
    margin-left: 6%;
    
    li{
        margin-bottom: 20px;
        list-style: none !important;
        font-weight: bolder;

        a{
            text-decoration: none;
            font-size: 1.6rem;
            color: black;
        }
    }
}
.main-content{
    font-size: 1.1rem;
    margin-top: 18px;
}
.current_page_item a{
    color: #DD1312 !important;
}


// medium screens

@media screen and (max-width: 1000px){
    
    .page__general{
        display: flex;
        flex-direction: row;
        padding-left: 1%;
        padding-top: 2.5rem;
    }
    
    .page__space{
        width: 38%;
    }
    .widget_nav_menu .widget-title{
        text-align: center;
    }
    .whoarewe__general--sidebar{
        align-self: flex-start !important;
    }
    
    #menu-whoarewe, #menu-whatwedo, #menu-getintouch{
        display: flex;
        flex-direction: column;
        align-self: auto;
        text-align: left;
        width: 200px;
        margin-left: 6%;
        
        li{
            margin-bottom: 20px;
            list-style: none !important;
            font-weight: bolder;

            a{
                text-decoration: none;
                font-size: 1.6rem;
                color: black;
            }
        }
    }
    .main-content{
        margin-top: 18px;
    }
    .current_page_item a{
        color: #DD1312 !important;
    }
}


// Phone screens

@media screen and (max-width: 500px){
    
    .page__general{
        display: flex;
        flex-direction: column;
        padding: 0 15px;
        padding-top: 1rem;
        
    }
    
    .page__general--sidebar {
        position: relative;
        overflow-x: scroll;
        width: 100%;
        background-color: grayscale($color: #ffeeee);
        
    }

    .page__general--sidebar::after {
        content: '';
        width: 0px;
        position: absolute;
        height: initial;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(209, 209, 209);
        animation: mymove 1.2s ease-out;
        animation-iteration-count: 5;
        opacity: .1;
    }


    @keyframes mymove {
        0%   {width: 0%;}
        25%  {width: 20%;}
        75%  {width: 80%}
        100% {width: 100%;}
    }
    
    
    #menu-whoarewe, #menu-whatwedo, #menu-getintouch{
        flex-direction: row;
        align-self: auto;
        text-align: left;
        width: max-content;
        margin-bottom: 1rem;
        padding-left: 8px;
        padding-top: 8px;
        margin-left: 0;
        padding-right: 8px;
        
        li{
            
            list-style: none !important;
            margin: 0 30px 0 0;
            font-weight: bolder;
            
            a{
                text-decoration: none;
                font-size: 1rem !important;
                color: black;
            }
        }
    }
    
    .main-content{
        font-size: 1rem;
        margin-top: 18px;
    }
    
}
