$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "Sans Mono", monospace;
$font__medium : medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif !important;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
